@model IEnumerable<FundWebUI.ViewModel.FundDataModel>

@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEDOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumShares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price_USD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tol_Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEDOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumShares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price_USD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tol_Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
